* {
  margin:0;
  padding:0;
}

body {
  margin:0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.container {
  padding: 0 1rem;
}

.btn {
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover {
  background: #666;
}
